---
name: CI

on:
  push:
    branches: [main]
    paths: ['debug/**']
  pull_request:
    paths: ['debug/**']

env:
  NODE_VERSION: 20

defaults:
  run:
    working-directory: ./debug

jobs:
  lint:
    runs-on: [ubuntu-latest]
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - run: echo "yay"